[core]
	editor = 'vim'
	ignoreCase = false
[user]
	name = Abdelrahman Elkady
	email = elkadyabdelrahman@gmail.com
[color]
	ui = true
[includeIf "gitdir:~/project-workspace/coligo/"]
  path = ~/.gitconfig-coligo
[pull]
	rebase = false
