[core]
	editor = 'vim'
	ignoreCase = false
	excludesFile = ~/.gitignore_global
[user]
	name = Abdelrahman Elkady
	email = elkadyabdelrahman@gmail.com
[color]
	ui = true

[pull]
	rebase = false

# this should include any custom configurations with sensitve info
# like switching keys/accounts based on the path of a project
[include]
	path = ~/dotfiles/.no-check/.gitconfig
