"*":
  "atom-beautify":
    apex: {}
    arduino: {}
    c: {}
    cfml: {}
    coffeescript: {}
    cpp: {}
    cs: {}
    css:
      newline_between_rules: true
      preserve_newlines: true
    d: {}
    ejs: {}
    erb: {}
    fortran: {}
    general:
      _analyticsUserId: "5ad3dbb0-3d7b-4ff6-be53-793ef349e931"
      _general: {}
    gherkin: {}
    handlebars:
      indent_size: 2
    html:
      indent_size: 2
    jade: {}
    java: {}
    js:
      brace_style: "collapse-preserve-inline"
      indent_size: 2
      space_after_anon_function: true
    json:
      indent_size: 2
    jsx: {}
    latex: {}
    less: {}
    marko: {}
    mustache: {}
    objectivec: {}
    pawn: {}
    perl: {}
    php: {}
    python: {}
    riot: {}
    ruby: {}
    rust: {}
    sass: {}
    scss: {}
    spacebars: {}
    sql: {}
    svg: {}
    swig: {}
    tss: {}
    twig: {}
    typescript: {}
    vala: {}
    visualforce: {}
    xml: {}
    xtemplate: {}
  "atom-material-ui":
    colors: {}
    fonts:
      fontSize: 15
    tabs: {}
    treeView:
      compactList: true
    ui:
      animations: false
      panelContrast: true
  "autocomplete-plus": {}
  core:
    allowPendingPaneItems: false
    themes: [
      "atom-material-ui"
      "monokai"
    ]
  editor:
    fontSize: 16
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "493e9453-81d0-d02e-2b7a-43b2ce72f39b"
  "fuzzy-finder": {}
  "markdown-preview":
    breakOnSingleNewline: true
  minimap: {}
  pigments:
    markerType: "dot"
  "tree-view": {}
  welcome:
    showOnStartup: false
