"*":
  "atom-beautify":
    _analyticsUserId: "5ad3dbb0-3d7b-4ff6-be53-793ef349e931"
    _general: {}
    apex: {}
    arduino: {}
    c: {}
    cfml: {}
    cpp: {}
    cs: {}
    css: {}
    css_newline_between_rules: true
    css_preserve_newlines: true
    d: {}
    fortran: {}
    gherkin: {}
    html: {}
    java: {}
    js: {}
    js_brace_style: "collapse-preserve-inline"
    objectivec: {}
    pawn: {}
    perl: {}
    php: {}
    python: {}
    ruby: {}
    rust: {}
    sql: {}
    vala: {}
  "atom-material-ui":
    colors: {}
    fonts:
      fontSize: 15
    tabs: {}
    treeView:
      compactList: true
    ui:
      animations: false
      panelContrast: true
  "autocomplete-plus": {}
  core:
    themes: [
      "atom-material-ui"
      "monokai"
    ]
  editor:
    fontSize: 16
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "493e9453-81d0-d02e-2b7a-43b2ce72f39b"
  "markdown-preview":
    breakOnSingleNewline: true
  minimap: {}
  pigments:
    markerType: "dot"
  "tree-view": {}
  welcome:
    showOnStartup: false
