'atom-text-editor:not([mini])':
  'ctrl-,': 'application:show-settings' # Stopping emmet from getting ctrl + ,
  'ctrl-shift-f':'atom-beautify:beautify-editor'

'atom-text-editor':
  'ctrl-shift-a':'project-find:show'
